<ul id="rules">
	<li>This is a free service</li>
	<li>Jobs will be displayed for 8 weeks</li>
	<li>Ruby related jobs only please</li>
</ul>

<h1>Post a new job</h1>

<%= form_for(@job) do |form| %>
  <%= error_messages_for(@job) %>

  <%= render :partial => 'form_fields', :locals => {:form => form} %>

  <p class='form_control'>
    <%= form.submit "Post Job >>" %>
  </p>
<% end %>

